/* Reset default margin and padding */
body, h1, h2, p {
    margin: 0;
    padding: 0;
}

body {
    background-color: #f1cfac; /* Choose your desired background color */
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

header {
    background-color: rgb(121, 121, 210);
    color: #fff;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-size: 24px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center; /* Center navigation items vertically */
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

nav ul li a:hover {
    color: #ddd;
}

.login-button {
    margin-right: 20px; /* Add margin to the left of login button */
}

.login-button a {
    background-color: white;
    color: blue;
    padding: 10px 20px;
    text-decoration: none; /* Remove underline */
    border-radius: 50px; /* Make it circular */
    display: inline-block;
    width: 60px; /* Set a fixed width for a circular shape */
    height: 60px; /* Set a fixed height for a circular shape */
    text-align: center;
    line-height: 60px; /* Vertically center text */
    transition: background-color 0.3s, color 0.3s;
}

.login-button a:hover {
    background-color: blue; /* Change background color on hover */
    color: white; /* Change text color on hover */
}

.background-image {
    background-image: url('customer.jpeg'); /* Replace with your image path */
    background-size: cover; /* Cover the entire container with the image */
    background-position: center center; /* Center the image both horizontally and vertically */
    width: 100%; /* Expand the image to the full width of the viewport */
    height: 100vh; /* Expand the image to the full height of the viewport */
    position: fixed; /* Fixed position to cover the entire viewport */
    top: 0;
    left: 0;
    z-index: -1;
}

.slogan {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    color: white;
    position: absolute;
    top: 50%; /* Position at the vertical center */
    left: 50%; /* Position at the horizontal center */
    transform: translate(-50%, -50%); /* Center the element perfectly */
    background-color: rgba(0, 0, 0, 0.6); /* Semi-transparent background */
    padding: 10px;
    border-radius: 10px;
}

