/* Reset default margin and padding */
body, h1, h2, p {
    margin: 0;
    padding: 0;
}

body {
    background-color: #f1cfac; /* Choose your desired background color */
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

header {
    background-color: rgb(121, 121, 210);
    color: #fff;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-size: 24px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center; /* Center navigation items vertically */
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

nav ul li a:hover {
    color: #ddd;
}

.login-button {
    margin-right: 20px; /* Add margin to the left of login button */
}

.login-button a {
    background-color: white;
    color: blue;
    padding: 10px 20px;
    text-decoration: none; /* Remove underline */
    border-radius: 50px; /* Make it circular */
    display: inline-block;
    width: 60px; /* Set a fixed width for a circular shape */
    height: 60px; /* Set a fixed height for a circular shape */
    text-align: center;
    line-height: 60px; /* Vertically center text */
    transition: background-color 0.3s, color 0.3s;
}

.login-button a:hover {
    background-color: blue; /* Change background color on hover */
    color: white; /* Change text color on hover */
}

.background-image {
    background-image: url('customer.jpeg'); /* Replace with your image path */
    background-size: cover;
    background-position: center;
    width: 500px;
    height: calc(100vh - 60px); /* Adjust based on your header height */
    position: absolute;
    top: 60px; /* Adjust based on your header height */
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}

